body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

header {
    background-color: #31313a;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #e40505;
}

.section-div {
    text-align: center;
    padding: 180px 0;
    margin-bottom: 30px;    
}

.iletisim-butonu {
    display: inline-block;
    background-color: #31313a;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.iletisim-butonu:hover {
    background-color: #686879;
    color: #fff;
}

.github-butonu img {
    width: 40px;
    height: auto;
    display: inline-block;
}

.github-butonu {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

.intro {
    display: inline-block;
    text-align: left;
    margin-top: 70px;
}

.benim-fotograf-div img {
    display: inline-block;
    width: 350px;
    height: auto;
    border-radius: 50%;
}

.benim-fotograf-div {
    display: inline-block;
}

.div-h2 {
    display: block;
    text-align: center;
    font-size: 40px;
}

.div-p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.hakkinda-section {
    margin-top: -100px;
}

.skill {
    width: 600px;
    align-items: center;
}

.div-p-progress {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
}

.iletisim-section .btn-primary {
    background-color: #31313a;
}
